<div class='map-overlay-inner panel panel-info'>
  <div class="panel-heading">
    <h3 class="panel-title">Info</h3> 
  </div>
  <div class="panel-body">
    <table id='info-table' class="table"> 
      <tr>
        <td>Top left</td>
        <td id='tl-info'></td>
      </tr>
      <tr>
        <td>Bottom right</td>
        <td id='br-info'><td>
      </tr>
      <tr>
        <td>Total Trips</td>
        <td id='total-info'></td>
      </tr>
    </table>
  </div>
</div>
<script src="/static/js/topline.js"></script>
